<div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop">
    <div class="kt-container  kt-container--fluid">
        <div class="kt-footer__copyright">
            {{ "now"|date("Y") }}&nbsp;&copy;&nbsp;
        </div>
    </div>
</div>
